<div class="container">
    <mat-toolbar>
        <span>Add Player</span>
        <span class="fill-this-space"></span>
        <button mat-stocked-button (click)="onClose()" class="dialog-button-close" tabindex="-1"><mat-icon class="mat-18">clear</mat-icon></button>
    </mat-toolbar>
    <form [formGroup]="playerService.form" class="normal-form">
        <mat-grid-list cols="2" rowHeight="fit" [style.height]="'50vh'" [gutterSize]="'1px'">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div class="controles-container">
                    <input type="hidden" formControlName="$key">
                    <mat-form-field>
                        <input formControlName="name" matInput placeholder="Full Name*">
                        <mat-error>This field is mandatory.</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="email" matInput placeholder="Email">
                        <mat-error>Envalid email address.</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="contact_no" matInput placeholder="Contact Number*">
                        <mat-error *ngIf="playerService.form.controls['contact_no'].errors?.required">This field is mandatory</mat-error>
                        <mat-error *ngIf="playerService.form.controls['contact_no'].errors?.minLength">Minimum 8 numbers required</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="blood_group" matInput placeholder="Blood Group">
                    </mat-form-field>
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div class="controles-container">
                    <div class="bottom-padding">
                        <mat-radio-group aria-label="Select Gender" formControlName="gender">
                            <mat-radio-button value="1">Male</mat-radio-button>
                            <mat-radio-button value="2">Female</mat-radio-button>
                            <mat-radio-button value="3">Other</mat-radio-button>
                          </mat-radio-group>
                          <mat-form-field >
                            <mat-label>Date of Birth*</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="dob">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                          <div class="button-row">
                              <button mat-raised-button (click)="onClick" color="primary" [disabled]="playerService.form.invalid">Submit</button>
                              <button mat-raised-button (click)="onClear()" color="warn">Clear</button>
                          </div>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</div>