:host {
  height: 40px;
}
.header{
    width: 100%;
    height: 40px;
}
.logo{
  width: 30px;
}
.logo img{
  width: 100%;
  padding-top: 10px;
}
.mat-toolbar.mat-primary {
  background: #272E48;
  color: #8A99B5;
}
.header ul{
  margin:0px;
  padding:0px;
}
.header ul li {
  list-style: none;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 40px;
}
span{
  letter-spacing: 2px;
}
.mat-menu-item .mat-icon {
  margin-right: 5px;
  vertical-align: middle;
}
.mat-button{
  min-width: 40px;
}

.header-dropdown {
  background-color: #1A233A !important;
  border: 1px solid #464D5C !important;
}