<mat-toolbar color="primary">
    <mat-toolbar-row>
      <!-- <span>X-Games</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon> */
 -->

 <button mat-icon-button (click)="toggleSideBar()">
        <mat-icon>menu</mat-icon>
    </button>
        <div class="logo">
            <img src="../../../../assets/images/logo.png">
        </div>
        
         <span>-Games</span>

         <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" class="header">
            <ul fxLayout="row" fxLayoutGap="2px">
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" class="header-dropdown" >
                        <button mat-menu-item>
                            <mat-icon>exit_to_app</mat-icon>
                            Log Out
                        </button>
                    </mat-menu>

                </li>
                <li>
                    <button mat-icon-button routerLink="/#" routerLinkActive="router-link-active" >
                        <mat-icon>settings</mat-icon>
                    </button>
                </li>
            </ul>
        </div>
     
    </mat-toolbar-row>      
</mat-toolbar>
  