<!-- <div id="vidBack">
  <video autoplay muted loop class="vid-back">
    <source src="../../assets/video/account-login.mp4" type="video/mp4">
      <source src="../../assets/video/account-login.webm" type="video/webm">
  </video>
</div> -->


<div fxLayoutAlign="center center" fxFlexFill class="login">
  <mat-card>
    <img mat-card-image src="../../assets/images/x-gaames-logo.png" alt="Left Right Mind">
    <!-- <mat-card-title>-360-</mat-card-title> -->
  <mat-card-content>
  <form [formGroup]="loginForm" (ngSubmit)="OnSubmit()" >
  <p>
    <mat-form-field>
      <input type="text" matInput placeholder="Username" formControlName="username">
      <mat-error>Username is mandatory.</mat-error>
    </mat-form-field>
  </p>
  
  <p>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName="password">
      <mat-error>Password is mandatory.</mat-error>
    </mat-form-field>
  </p>
  
  <p *ngIf="error" class="error">
    {{ error }}
  </p>
  
  <p>
    <mat-checkbox color="primary" class="remember">
        Remember me
    </mat-checkbox>
  </p>
  <div class="button ">
    <button type="submit" mat-raised-button class="custButton" >Login</button>
  </div>
  <!-- <div class="forgotPass">
    <a href="#">Forgot Password</a>
  </div> -->
    
  </form>
  </mat-card-content>
  </mat-card>
</div>


<!-- <div class="loginbox">
    <mat-card>
      <div class="avatar">
          <img src='../../assets/images/x-games logo-01.png' >
      </div>
        
          
          <mat-card-title>Games</mat-card-title>
    <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <p>
        <mat-form-field>
          
          <input type="text" name="" placeholder="Username">
          </mat-form-field>
          <mat-form-field>
            
        
            <input type="password" name="" placeholder="Password">
            
          </mat-form-field>

        <p *ngIf="error" class="error">
        {{ error }}
      </p>

      <div class="button">
        <button type="submit" mat-button  routerLink="/def" routerLinkActive="active">Login</button>
      </div>

    </form>
    </mat-card-content>
    </mat-card>
</div> -->
<!-- 

<div class="loginbox">
<img src="avatar.png" class="avatar">
  <h1>Login Here</h1>
  <form>
      <p>Username</p>
      <input type="text" name="" placeholder="Enter Username">
      <p>Password</p>
      <input type="password" name="" placeholder="Enter Password">
      <input type="submit" name="" value="Login">
      <a href="#">Lost your password?</a><br>
      <a href="#">Don't have an account?</a>
  </form>
  
</div> -->