
::ng-deep .login{
  background-image: url('../../assets/images/login-bg.gif');
  background-position: center;
  background-size: cover;
}
/* #vidBack {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
  }
.vid-back{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
} */

.mat-form-field {
  width: 100%;
  min-width: 300px;
}
mat-card-title {
margin-top: -4px;
  font-weight: 300;
  letter-spacing: 10px;
}
mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}
.mat-card-content {
  font-size: 12px;
}
.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}
.login img{
  display: flex;
  justify-content: center;
  width: 200px;
  height: auto;
  margin: 10px auto;
}
.custButton{
  background-color: #059ccb;
  width: 100%;
  border-radius: 20px;
  color: #fff;
  font-weight: 300;
}
.remember{
  color: #059ccb;
  font-weight: 400;
}
::ng-deep .mat-checkbox .mat-checkbox-frame{
  border-color:#059ccb;
}
.forgotPass{
  text-align: center;
  margin: auto;
  
}
.forgotPass a{
  text-decoration: none;
  color: #949393;
}
.mat-card {
  background: #fff0;
  color: #949393;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  color: rgba(251, 251, 251, 0.54) !important;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgba(175, 175, 175, 0.54);
}
::ng-deep .mat-form-field .mat-focused .mat-form-field-label{
  color: rgba(251, 251, 251, 0.54) !important;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: rgba(175, 175, 175, 0.54);
}
::ng-deep  .mat-input-element {
  caret-color: rgba(251, 251, 251, 0.54);
}
::ng-deep .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background, .mat-checkbox-checked.mat-primary .mat-checkbox-background {
  background-color: #059ccb;
}

/*Snack Bar*/
::ng-deep .mat-snack-bar-container {
  color: rgb(26, 35, 58);
  background: #9ca7bb7a;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.73), 0px 6px 10px 0px rgba(0, 0, 0, 0.41), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
::ng-deep .mat-snack-bar-container {
  border-radius: 5px !important;
  margin: 18px !important;
  max-width: 20vw !important;
  min-width: 240px !important;
  padding: 8px 10px !important;
  min-height: 35px !important;
}
::ng-deep .mat-simple-snackbar {
  justify-content: center !important;
}