table {
    width: 100%;
  }
  .mat-table {
    background: #272E48;
}
.bg-blue {
  background-color: #277e9a;
  color: #e0e2e6;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
td, th {
    width: 25%;
  }
.height50{
  max-height: 350px;
  overflow: auto;
}
  th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    color: #8A99B5;
}
.pagination {
    background-color: #40566F;
    color:#BDD1F8;
}
.profile-view .mat-card{
  background-color: #272E48;
  color: #8A99B5;
  padding: 10px;
  border-radius: unset;
  height:330px;
}
.profile-view .mat-card-title{
  color: #BDD1F8;
}

::ng-deep .mat-dialog-container{
  padding: 10px !important;
  background-color: #1a233a;
}
 tr.mat-header-row {
  height: 40px !important;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  color: rgba(251, 251, 251, 0.54) !important;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgba(175, 175, 175, 0.54);
}
::ng-deep .mat-form-field .mat-focused .mat-form-field-label{
  color: rgba(251, 251, 251, 0.54) !important;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: rgba(175, 175, 175, 0.54);
}
::ng-deep  .mat-input-element {
  caret-color: rgba(251, 251, 251, 0.54);
}

.add-player button{
  line-height: 30px;
  padding: 0 20px;
  border-radius: 20px;
  transition: box-shadow .3s;
}
.add-player button:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}
/*Profile Card Drsign*/
.profile-img img{
  border-radius: 50%;
}
::ng-deep .mat-card-subtitle {
  color: #76ff03;
}