<div class="players-component" >
  <div class="container" flexLayout="row" fxLayoutGap="15px"  fxLayoutAlign="space-between center">
    <div class="search-bar"  fxFlex="80%">
        <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event)">
          </mat-form-field>          
    </div>
    <div class="add-player" >
      <button mat-raised-button class="bg-blue" (click)="onCreate()"><i class="material-icons">
          person_add
          </i> Add Player</button>
    </div>
  </div> 
  <div class="container pb-15" flexLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-between center">
    <!-- <div class="example-loading-shade"
        *ngIf="isLoadingResults || isRateLimitReached">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
        X-games limit has been reached. It will be reset in one minute.
      </div>
    </div> -->
    <div class="mat-elevation-z8 " fxFlex="50%">
      <div class="height50 vertical-container" [perfectScrollbar]="config">
        <table mat-table [dataSource]="dataSource" matSort class="scrollable-content ps">
    
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let player"> {{player.playerId}} </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let player"> {{player.fullName}} </td>
          </ng-container>
      
          <!-- Color Column  -->
           <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
            <td mat-cell *matCellDef="let player" >
              <button mat-icon-button ><i class="material-icons">edit</i></button>
              <button mat-icon-button ><i class="material-icons">delete</i></button>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
      </div>
      
      <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" class="pagination"></mat-paginator> -->
      <!-- <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator> -->
    </div>
    
    <div  fxFlex="50%" class="profile-view">
      <div class="mat-elevation-z8 profile-view">
        <mat-card >
          <mat-grid-list cols="4" rowHeight="fit" [style.height]="'90vh'" [gutterSize]="'1px'">
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <div class="profile-img">
                <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                <div class="profile-title">
                  <mat-card-title>
                    player name
                  </mat-card-title>
                  <mat-card-subtitle>
                    Active
                  </mat-card-subtitle>
                </div>
              </div>
              
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <div class="profile-content">
                <mat-card-content>
                  <p>player@leftrightmind.com</p>
                  <p>1-Jan-1998</p>
                  <p>9775773333</p>
                  <p>AB+</p>
                  <p>Male</p>
                </mat-card-content>
              </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="4" [rowspan]="1"> 
              <div class="player-interest">
                <mat-chip-list aria-label="Fish selection">
                  <mat-chip>Cricket</mat-chip>
                  <mat-chip>Chess</mat-chip>
                  <mat-chip>Cricket</mat-chip>
                  <mat-chip>Chess</mat-chip>
                  <mat-chip>Cricket</mat-chip>
                  <mat-chip>Chess</mat-chip>
                  <mat-chip>Cricket</mat-chip>
                  <mat-chip>Chess</mat-chip>
                </mat-chip-list>
                <div class="profile-action">
                
                  <button mat-button>LIKE</button>
                
              </div>
              </div>
              
            </mat-grid-tile>
            <mat-grid-tile [colspan]="4" [rowspan]=1>
              
            </mat-grid-tile>
          </mat-grid-list>
          
         
        </mat-card>
      </div>
    </div>
  </div> 
    
</div>
