<div fxLayout='column' class="zero">

    <div fxFlex="33" class="one" >hii</div>
    <div fxFlex="33%" [fxLayout]="direction" class="two">
  
      <div fxFlex="22%"    class="two_one">hello</div>
      <div fxFlex="205px"  class="two_two">cohime</div>
      <div fxFlex="30"     class="two_three">jon</div>
  
    </div>
    <div fxFlex class="three">jabree</div>
  
  </div>