.mat-icon {
  font-size: 17px;
  line-height: 20px;
  width: 26px;
  }
.sidebar {
  z-index: 2;
  width: 200px;
  height:98%;
  background-color: #1A233A;
  box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}
.sidebar .nav {
    margin-top: 15px;
    display: block;
    background-color: #1a233a;
}
.nav {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-link {
  display: block;
  padding: .5rem 1rem;
}
.nav .nav-item .nav-link {
  color: #fff;
}
.sidebar .nav li a {
  margin: 10px 15px 0;
  border-radius: 3px;
  color: #3c4858;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: capitalize;
  font-size: 13px;
}
.sidebar .nav i {
  font-size: 24px;
  float: left;
  margin-right: 15px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  color: #a9afbb;
}
.sidebar .nav p {
  margin: 0;
  line-height: 30px;
  font-size: 14px;
  position: relative;
  display: block;
  height: auto;
  white-space: nowrap;
}
.sidebar .nav .nav-item.active>a:not([data-toggle=collapse]) {
  color: #3c4858;
  opacity: 1;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(60,72,88,.4);
}
.sidebar li.active>a {
  background-color: #fff;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px hsla(0,0%,100%,.4);
}
.sidebar .nav li:hover>a {
  background-color: hsla(0, 0%, 78%, 0.04);
  color: #3c4858;
  box-shadow: none;
}
.sidebar .nav .nav-item.active>a:not([data-toggle=collapse]) i {
  color: rgba(60,72,88,.8);
}
.sidebar .nav .nav-item i {
  color: #6E7C97;
}
a .material-icons {
  vertical-align: middle;
}
.sidebar .nav .nav-item .nav-link {
  color: #6E7C97;
}