<mat-nav-list class="sidebar">
    <!-- <div class="profile-card">
        <div class="header">
          <h2>abc</h2>
          <h4>examples@gmail.com</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    </div>
    <mat-divider></mat-divider>
       <h2 matsubheader>players</h2>
       <a mat-list-item routerLinkActive="list-item-active" routerLink="/players">players</a>
     <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
     <mat-divider></mat-divider>
 
     <h2 matsubheader>Tools</h2>
 
     <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
         <mat-icon>import_contacts</mat-icon>
         Contacts
     </a>
 
     <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
         <mat-icon>contact_phone</mat-icon>
         Leads
     </a>
  -->
  <ul class="nav">
    <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
        <a class="nav-link" [routerLink]="[menuItem.path]">
            <i class="material-icons">{{menuItem.icon}}</i>
            <p>{{menuItem.title}}</p>
        </a>
    </li>
</ul>
 </mat-nav-list>
 