/* You can add global styles to this file, and also import other style files */
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

html, body { height: 100%; 
    
}
 body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #1A233A;
    color: #6E7C97;
}
.mat-drawer-container {
    background-color: #1A233A !important;
    color: #6E7C97;
}
.bottom-padding{
    padding-bottom: 10px;
}
.material-icons{
  font-size: 20px !important;
}
mat-radio-group mat-radio-button{
    margin-left: 5px;
}
.button-row button{
    margin-left: 5px;
}
.pb-15{
    padding-bottom: 15px;
}

/*Scroll Bar Design*/

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}
::-webkit-scrollbar-thumb {
  background: #8c95b75e;
  border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8c95b7;;
}
::-webkit-scrollbar-thumb:active {
  background: #8c95b7;
}
::-webkit-scrollbar-track {
  background: #41475a54;
  border-radius: 34px;
}
::-webkit-scrollbar-track:hover {
  background: #41475ac7;
}
::-webkit-scrollbar-track:active {
  background: #41475a26;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
